* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
  }
  body{
    background-color: rgb(255, 255, 255);
    direction: rtl;
  }
  
  /* ========== Header Start ========== */
  
  .header{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }
  .header .logo{
    width: 24%;
    padding: 30px 20px;
    font-weight: bold;
  }
  
  .header .logo a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    color: rgb(94, 94, 94);
  }
  
  .header .logo a .s-sigma{
    color: rgb(235, 142, 3);
  }
  
  .header .logo a .s-star{
    color: rgb(3, 204, 204);
  }
  .header .logo #darkMode{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 26px;
  }
  
  .header .logo #lightMode{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    display: none;
    font-size: 26px;
  }
  .header .logo #lightMode i{
    color: rgb(255, 255, 2);
  }
  
  .header .nav{
    width: 65%;
    padding: 30px 20px;
    font-weight: bold;
  }
  
  .header .nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .header .nav ul li{
    margin-left: 5px;
    padding: 10px;
  }
  
  .header .nav ul li a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: rgb(110, 106, 106);
    cursor: pointer;
    transition: 0.5s;
  }
  
  .header .nav ul li a:hover {
    color:dodgerblue !important;
  }
  .header .nav ul li .nav-btn {
    font-size: 16px;
    color: rgb(94, 94, 94);
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
    padding: 10px 20px;
    width: 100px;
    font-weight: 300;
    transition: 0.5s;
  }
  
  .header .nav ul li .nav-btn:hover {
    background-color: dodgerblue !important;
    color: white !important;
  }
  
  /* ========== Header End ========== */
  
  /* ========== Container Start ========== */
  /*        ===== Top Content =====        */
  .container {
    width: 70%;
    background-color: rgb(255, 255, 255);
    margin: auto;
  }
  .container .top-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-bottom: 100px;
  }
  .container .top-content .moving-logo{
    text-align: center;
    width: 50%;
  }
  .container .top-content .moving-logo img{
    width: 100%;
    animation-name: logo-move;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  .container .top-content .main-text{
    width: 50%;
  }
  .container .top-content .main-text h1{
    font-family: 'Raleway', sans-serif;
    padding-top: 150px;
    font-weight: bold;
    font-size: 48px;
    color: rgb(40, 40, 40);
  }
  
  .container .top-content .main-text h2{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgb(150, 150, 150);
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .container .top-content .main-text a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(66, 182, 218);
    font-size: 16px;
    color: white;
    border-width: 0px;
    border-radius: 5px;
    box-shadow: 0px 2px 15px 1px rgba(0, 204, 0, 0.5);
    padding: 12px 30px;
    transition: 0.5s;
  }
  
  .container .top-content .main-text a:hover {
    background-color: dodgerblue !important;
    box-shadow: 0px 2px 15px 1px dodgerblue !important;
  }
  /*          ===== cards-p1 =====          */
  .cards-p1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 50px;
    transition: 1s;
  }
  .cards-p1 .icons{
    color: rgb(66, 182, 218);
    font-size: 30px;
    margin: 5px 5px 10px 0;
  }
  .cards-p1 h2{
    margin: 10px 0px;
    font-family: 'Raleway', sans-serif;
    color: rgb(100, 100, 100);
    font-size: 18px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 15%;
  }
  
  .cards-p1 p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(150, 150, 150);
    line-height: 150%;
  }
  
  .cards-p1 .vision,
  .cards-p1 .why-us{
    background-color: rgb(245, 245, 245);
    width: 46%;
    padding: 20px 20px 40px;
  }
  .cards-p1 .vision:hover,
  .cards-p1 .why-us:hover{
    border: 0.1px solid rgba(100, 100, 100, 0.5) !important;
  }
  .cards-p1 .vision:hover h2,
  .cards-p1 .why-us:hover h2{
    color: rgb(66, 182, 218) !important;
  }
  
  /*          ===== cards-p2 =====          */
  .cards-p2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
  }
  .cards-p2 .about-us-img{
    width: 48%;
  }
  .cards-p2 .about-us-img img{
    width: 100%;
  }
  
  .cards-p2 .about-us-info{
    width: 48%;
  }
  .cards-p2 .about-us-info h2{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 100, 100);
    margin-bottom: 10px;
  }
  .cards-p2 .about-us-info p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 100, 100);
    line-height: 150%;
  }
  /*          ===== cards-p3 =====          */
  .cards-p3{
    background-color: rgb(245, 245, 245);
    color: rgb(100, 100, 100);
    padding: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  .cards-p3 .our-services{
    width: 100%;
    margin-bottom: 50px;
  }
  .cards-p3 .our-services h2{
    margin-bottom: 20px;
  }
  .cards-p3 .mini-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    transition: 0.7s;
  }
  .cards-p3 .mini-cards .minicard{
    width: 23%;
    padding: 30px 5px;
    background-color: white;
    margin-bottom: 20px;
  }
  
  .cards-p3 .mini-cards .minicard i{
    font-size: 24px;
    margin-bottom: 15px;
    color: rgb(66, 182, 218);
  }
  .cards-p3 .mini-cards .minicard h2{
    cursor: pointer;
    width: auto;
  }
  
  .cards-p3 .mini-cards .minicard:hover h2{
    color: rgb(66, 182, 218) !important;
  }
  
  .cards-p3 .our-clients{
    margin-bottom: 30px;
  }
  .cards-p3 .our-clients h2{
    margin-bottom: 20px;
  }
  /*          ===== cards-p4 =====          */
  .cards-p4{
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    color: rgb(100, 100, 100);
  }
  .cards-p4 .contact-us{
    width: 100%;
  }
  
  .cards-p4 .contact-us h2{
    margin-bottom: 20px;
  }
  .cards-p4 .contact-us p{
    margin-bottom: 30px;
  }
  .cards-p4 .contact-minicards{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .cards-p4 .contact-minicards .location{
    width: 40%;
    background-color: rgb(245, 245, 245);
    border-top: 5px solid rgb(66, 182, 218);
    border-bottom: 5px solid rgb(66, 182, 218);
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .cards-p4 .contact-minicards .location .adress,
  .cards-p4 .contact-minicards .location .email,
  .cards-p4 .contact-minicards .location .number{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 30px;
  }
  
  .cards-p4 .contact-minicards .location .adress i,
  .cards-p4 .contact-minicards .location .email i,
  .cards-p4 .contact-minicards .location .number i{
    width: 10%;
    height: 35px;
    padding-top: 15px;
    color: rgb(66, 182, 218);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
  }
  .cards-p4 .contact-minicards .location .adress:hover i,
  .cards-p4 .contact-minicards .location .email:hover i,
  .cards-p4 .contact-minicards .location .number:hover i{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(66, 182, 218) !important;
  }
  
  .cards-p4 .contact-minicards .location .adress div,
  .cards-p4 .contact-minicards .location .email div,
  .cards-p4 .contact-minicards .location .number div{
    width: 90%;
    text-align: right;
  }
  
  .cards-p4 .contact-minicards .location .adress div>h3,
  .cards-p4 .contact-minicards .location .email div>h3,
  .cards-p4 .contact-minicards .location .number div>h3{
    margin-bottom: 10px;
    color: rgb(100, 100, 100);
  }
  .cards-p4 .contact-minicards .location .adress div>p,
  .cards-p4 .contact-minicards .location .email div>p,
  .cards-p4 .contact-minicards .location .number div>p{
    color: rgb(130, 130, 130);
  }
  .cards-p4 .contact-minicards .location iframe{
    width: 95%;
    height: 400px;
    margin: auto;
  }
  
  .cards-p4 .contact-minicards .contact-form{
    width: 50%;
    padding: 40px;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border-top: 5px solid rgb(66, 182, 218);
    border-bottom: 5px solid rgb(66, 182, 218);
    display: flex;
    flex-wrap: wrap;
  }
  .cards-p4 .contact-minicards .contact-form form{
    width: 100%;
  }
  .cards-p4 .contact-minicards .contact-form form .top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .cards-p4 .contact-minicards .contact-form form .top div{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .cards-p4 .contact-minicards .contact-form form .top div>label{
    width: 100%;
    text-align: right;
    margin-bottom: 15px;
  }
  .cards-p4 .contact-minicards .contact-form form .top div>input{
    width: 95%;
    line-height: 28px;
  }
  .cards-p4 .contact-minicards .contact-form form .middle{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .cards-p4 .contact-minicards .contact-form form .middle label{
    width: 100%;
    text-align: right;
    margin-bottom: 5px;
    margin-bottom: 15px;
  }
  .cards-p4 .contact-minicards .contact-form form .middle input{
    width: 97.5%;
    line-height: 28px;
  }
  .cards-p4 .contact-minicards .contact-form form .bottom{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .cards-p4 .contact-minicards .contact-form form .bottom label{
    width: 100%;
    text-align: right;
    margin-bottom: 5px;
    margin-bottom: 15px;
  }
  .cards-p4 .contact-minicards .contact-form form .bottom textarea{
    width: 97.5%;
  }
  .cards-p4 .contact-minicards .contact-form form button{
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 0px solid black;
    background-color: rgb(66, 182, 218);
    color: white;
  }
  /*          ===== cards-p5 =====          */
  .cards-p5{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(245, 245, 245);
    padding: 50px 20px 20px;
  }
  .cards-p5 .co-name{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .cards-p5 .co-name h2{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 75, 75);
    font-weight: bold;
  }
  .cards-p5 .social-icons{
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
  }
  .cards-p5 .social-icons i{
    font-size: 24px;
    color: rgb(80, 80, 80);
    padding: 5px;
    margin-left: 5px;
    background-color: rgb(230, 230, 230);
  }
  .cards-p5 .social-icons i:hover{
    color: white !important;
    background-color: rgb(66, 182, 218) !important;
    cursor: pointer !important;
    transition: 0.5s !important;
  }
  .cards-p5 hr{
    width: 100%;
    margin-bottom: 30px;
  }
  .cards-p5 .copy-rightp{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(120, 120, 120);
  }
  
  .cards-p5 .copy-rightp .creator{
    width: 50%;
    text-align: right;
    font-size: 14px;
  }
  
  .cards-p5 .copy-rightp .creator p a{
    color:rgb(0, 189, 0);
  }
  .cards-p5 .copy-rightp .creator p a:hover{
    color:dodgerblue !important;
    cursor: pointer !important;
  }
  
  .cards-p5 .copy-rightp .copy-rightc{
    width: 50%;
    text-align: left;
    font-size: 14px;
  }
  .cards-p5 .copy-rightp .copy-rightc span{
    font-weight: bold;
  }
  /* ========== Container End ========== */
  
  /* ========== animation ========== */
  @keyframes logo-move {
  
    50% {
      transform: translatey(20px);
  }
    
  }
  /* ========== Media Query ========== */
  
  
  @media(max-width: 1600px){
    .container{
      width: 80%;
    }
    .cards-p4 .contact-minicards .location{
      width: 38%;
    }
    .cards-p4 .contact-minicards .contact-form{
      width: 48%;
    }
  }
  /* ==== Media 1500px ==== */
  @media(max-width: 1500px){
    .container{
      width: 90%;
    }
    .cards-p1 h2{
      width: 25%;
    }
    .cards-p1 .vision,
    .cards-p1 .why-us{
    width: 44%;
  }
  
  }
  /* ==== Media 1250px ==== */
  @media(max-width: 1250px){
    .header .logo{
      padding: 30px 5px;
    }
  }
  
  /* ==== Media 1200px ==== */
  @media(max-width: 1200px){
    .header .logo{
      width: 100%;
      text-align: center;
  }
    .header .nav{
      width: 100%;
      text-align: center;
  }
    .header .nav ul li{
      width: 30%;
      padding: 10px 0px;
      margin-bottom: 10px;
  }
  .cards-p3 .mini-cards .minicard{
    width: 30%;
  }
  }
  
  
  /* ==== Media 950px ==== */
  @media(max-width: 950px){
    .container .top-content .moving-logo{
      width: 100%;
    }
    .container .top-content .main-text{
      width: 100%;
    }
    .container .top-content .moving-logo img{
      width: 70%;
    }
    .cards-p1{
      flex-wrap: wrap;
    }
    .cards-p1 .vision,
    .cards-p1 .why-us{
    width: 90%;
    margin-bottom: 10px;
  }
  .container .top-content .main-text h1{
    padding-top: 75px;
  }
  .cards-p2 .about-us-img{
    width: 100%;
  }
  .cards-p2 .about-us-info{
    width: 100%;
  }
  .cards-p3 .mini-cards .minicard{
    width: 45%;
  }
  .cards-p4 .contact-minicards{
    flex-wrap: wrap;
  
  }
  .cards-p4 .contact-minicards .location{
    width: 100%;
    margin-bottom: 40px;
  }
  .cards-p4 .contact-minicards .location .adress i,
  .cards-p4 .contact-minicards .location .email i,
  .cards-p4 .contact-minicards .location .number i{
    width: 40px;
    height: 30px;
  }
  .cards-p4 .contact-minicards .contact-form{
    width: 100%;
  }
  
  .cards-p5 .copy-rightp{
    flex-direction: column-reverse;
  }
  
  .cards-p5 .copy-rightp .creator,
  .cards-p5 .copy-rightp .copy-rightc{
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
  
  }
  
  
  /* ==== Media 750px ==== */
  @media(max-width: 750px){
    .header .nav ul li{
      width: 40%;
      padding: 10px 0px;
      margin-bottom: 10px;
  }
  .container .top-content .moving-logo img{
    width: 100%;
  }
  .container .top-content .main-text h1{
    padding-top: 0px;
  }
  }
  
  
  /* ==== Media 600px ==== */
  @media(max-width: 600px){
    .container{
      width: 98%;
    }
    .header .nav ul li{
      width: 100%;
      padding: 10px 0px;
      margin-bottom: 10px;
  }
  .cards-p1 h2{
    width: 100%;
  }
  .container .top-content .main-text,
  .cards-p1 .vision,
  .cards-p1 .why-us,
  .cards-p2 .about-us-info{
    text-align: center;
  }
  .cards-p3 .mini-cards .minicard{
    width: 90%;
  }
  
  .cards-p4 .contact-minicards{
    width: 100%;
  }
  
  }
  
  /* ==== Media 500px ==== */
  @media(max-width: 500px){
    .cards-p4 .contact-minicards .location .adress div,
    .cards-p4 .contact-minicards .location .email div,
    .cards-p4 .contact-minicards .location .number div{
      width: 85%;
  }
  }
  @media(max-width: 350px){
    .cards-p4 .contact-minicards .location .adress div,
    .cards-p4 .contact-minicards .location .email div,
    .cards-p4 .contact-minicards .location .number div{
      width: 80%;
  }
  }